@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --spacing-xs: 0.25rem;
    --spacing-sm: 0.5rem;
    --spacing-md: 1rem;
    --spacing-lg: 1.5rem;
    --spacing-xl: 2rem;
    --spacing-2xl: 3rem;
    --spacing-3xl: 5rem;

    --color-app-text: #212529;
    --color-app-dark-text: #D1D7E0;
    --color-app-sub-text: #59636E;
    --color-app-dark-sub-text: #9198A1;
    --color-app-bg: #ffffff;
    --color-app-dark-bg: #121923;
    --color-app-sub-bg: rgba(129, 139, 152, 0.1);
    --color-app-dark-sub-bg: rgba(101, 108, 118, 0.2);

    --animate-fade-in: fadeIn 0.1s ease-in-out forwards;
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    --animate-split-text: splitText 0.3s ease-in-out forwards;
    @keyframes splitText {
        0% {
            opacity: 0;
            transform: translateY(3rem) scale(0.95);
        }
        60% {
            opacity: 0.5;
            transform: translateY(-0.25rem) scale(1.03);
        }
        80% {
            opacity: 1;
            transform: translateY(0.05rem) scale(0.99);
        }
        100% {
            opacity: 1;
            transform: translateY(0) scale(1);
        }
    }

    --animate-theme-icon-fade-in: themeIconFadeIn 0.15s ease-in-out forwards;
    @keyframes themeIconFadeIn {
        from {
            opacity: 0;
            transform: translate(45%, 40%) rotate(45deg);
        }
        to {
            opacity: 1;
            transform: rotate(0deg)
        }
    }

    --animate-theme-icon-fade-out: themeIconFadeOut 0.15s ease-in-out;
    @keyframes themeIconFadeOut {
        from {
            opacity: 1;
            transform: rotate(0deg)
        }
        to {
            opacity: 0;
            transform: translate(-45%, 40%) rotate(-45deg)
        }
    }

}

html, body, html body {
    @apply text-app-text dark:text-app-dark-text bg-app-bg dark:bg-app-dark-bg;
}

html {
    scrollbar-color: #adb5bd #ffffff;
}

html.dark {
    scrollbar-color: #495057 #121923;
}

/* code highlight */
pre {
    @apply px-0 py-md rounded-lg overflow-x-auto;
}

pre [data-line] {
    @apply px-md py-xs w-full min-w-0 block;
}

p > code {
    @apply text-[#5067A8] dark:text-[#c8d3f5];
}

p > code,
span[data-rehype-pretty-code-figure] code {
    @apply rounded p-xs text-sm bg-[#333955]/5 dark:bg-[#171e2a];
}

code[data-line-numbers] {
    counter-reset: line;
}

code[data-line-numbers] > [data-line]::before {
    counter-increment: line;
    content: counter(line);
    @apply inline-block w-md mr-md text-right text-gray-500;
}

figure[data-rehype-pretty-code-figure] pre {
    @apply bg-[#333955] dark:bg-[#171e2a];
}

figure[data-rehype-pretty-code-figure] {
    @apply mt-sm mb-md;
}

[data-rehype-pretty-code-title] {
    @apply text-zinc-200 rounded-t-lg py-2 px-3 font-semibold text-sm bg-[#333955] dark:bg-[#171e2a];
}

figure[data-rehype-pretty-code-figure]:has(> [data-rehype-pretty-code-title]) pre {
    @apply rounded-t-none overflow-auto;
}

[data-highlighted-line] {
    background: rgba(200, 200, 255, 0.1);
}

[data-highlighted-chars] {
    @apply rounded;
    background: rgba(200, 200, 255, 0.1);
    box-shadow: 0 0 0 4px rgb(82 82 91 / 0.5);
}

[data-chars-id] {
    @apply shadow-none p-1 border-b-2;
}

[data-chars-id] span {
    color: inherit !important;
}

[data-chars-id='v'] {
    @apply text-pink-300 bg-rose-800/50 border-b-pink-600 font-bold;
}

[data-chars-id='s'] {
    @apply text-yellow-300 bg-yellow-800/50 border-b-yellow-600 font-bold;
}

[data-chars-id='i'] {
    @apply text-purple-200 bg-purple-800/50 border-b-purple-600 font-bold;
}
